C:\Users\nahue\OneDrive\Documentos\GitHub\Trabajo-Practico-Integrador-Parte-1-\demo\.vscode
C:\Users\nahue\OneDrive\Documentos\GitHub\Trabajo-Practico-Integrador-Parte-1-\.idea
C:\Users\nahue\OneDrive\Documentos\GitHub\Trabajo-Practico-Integrador-Parte-1-\.vscode